* {
    font-family: Helvetica;
    box-sizing: border-box;
}

header {
    background-color: rgba(255, 138, 206, 0.72);
    position: sticky;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}


